@import "tailwindcss";

@theme {
    --color-primary:#932BE7;
}

.input-box {
    @apply w-full flex justify-between gap-3 text-sm text-black bg-gray-50/50 rounded px-4 py-3 mb-4 mt-3 border border-gray-400 outline-none focus-within:border-purple-300  ;
  }

.btn-primary {
    @apply w-full text-sm font-medium text-white bg-black shadow-lg shadow-purple-600/5 p-[10px] rounded-md my-1 hover:bg-purple-600/15 hover:text-black cursor-pointer;
  }